<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>CNC Angular Dynamic Module Loading</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <p>With these buttons you can lazy load different Angular Modules with Components which will be instantiated right below.</p>
  <p>In the network inspector you can see the additional bundles loaded after clicking the first time click on one button</p>
  <button mat-raised-button color="accent" (click)="loadModule('foo.module.ts', 'FooModule')">Lazy Load Module Foo</button>
  <button mat-raised-button color="primary" (click)="loadModule('bar.module.ts', 'BarModule')">Lazy Load Module Bar</button>
  <ng-container #anchor></ng-container>
</div>
